/* navbar */
.navbar{
    background-color: #000000;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
}

#bootstrap-overrides #navbar-logo{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: white;
}

#bootstrap-overrides .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #abb3c0;
}

#bootstrap-overrides .nav-link.title{
    color: #ffffff;
}

.social{
    height: 28px;
    padding-right: 2px;
    margin-left: 15px;
}

.social:hover{
    height: 31px;
    padding-right: 1px;
    margin-left: 13px;
    transition: 0.3s;
}

/* fonts in general */

p, li.text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: #303030;
}

ol{
    padding-inline-start: 20px;
}

#bootstrap-overrides h1{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 1rem 0 0.6rem 0;
}

#bootstrap-overrides h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-top: 25px;
}

#bootstrap-overrides h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    font-weight: bold;
    /*background-color: black;
    color: white;
    padding: 0.75rem;
    margin-top: 1rem;*/
}

#bootstrap-overrides h4{
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 600;
}

p.caption{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #4e4e4e;
    text-align: center;
}

a.red{
    color: #383838;
    text-decoration: underline solid #ff8586 2px;
}

a.red:hover{
    color: #ED0500;
    transition: 0.5s ease;
}

/* Images */
img.full-width{
    width: 100%;
    padding-top: 12px;
}

img.padding{
    padding: 1.5rem 0 1.5rem 0;
}

/*img:not(social){
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.5px;
    border-color: #000;
}*/

.project-header-img{
    padding: 54px 0 0 0;
    width: 100%;
}

img.call{
    width: 50%;
    padding: 1rem 0;
    max-height: auto;
}


@media (max-width: 992px){
    img.inline{
        width: 100%;
        margin: 0.5rem 0 1.1rem 0;
    }
}

@media (min-width: 992px){
    img.inline{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 1rem 0 1.1rem 0;
        height: auto;
        max-width: 90%;
    }

    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* Elements */

.line{
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: #000;
    margin: 0.6rem 0 0.7rem 0;
}

.line.upper{
    border-style: solid;
    border-width: 10px;
}

.box{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.horizontal-center{
    display: block;
    margin: auto;
}

#bootstrap-overrides .container{
    padding: 2em 0;
}

#bootstrap-overrides .container.title{
    padding: 0;
}

.footer-link{
    text-align: center;
    margin-top: 1rem;
}

.footer{
    margin: 0 0 5rem 0;
}