/* navbar */
.navbar{
    background-color: #000000;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
}

#bootstrap-overrides #navbar-logo{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: white;
}

#bootstrap-overrides .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #abb3c0;
}

#bootstrap-overrides .nav-link.active{
    color: #d6e0f0;
}

.social{
    height: 28px;
    padding-right: 2px;
    margin-left: 15px;
}

.social:hover{
    height: 31px;
    padding-right: 1px;
    margin-left: 13px;
    transition: 0.3s;
}

/* fonts in general */

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

#bootstrap-overrides h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.2rem;
}

#bootstrap-overrides h3{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

a.dark{
    color: #393b44;
    text-decoration: underline solid #ff8586;
}

a.red{
    color: #d6e0f0;
    text-decoration: underline solid #ff8586;
}

a.red:hover{
    color: #ff4e4f;
    transition: 0.5s ease;
}

#bootstrap-overrides .black-link {
    color: black;
    text-decoration: underline;
}

.white {
    color :white;
}

.light {
    color: #d9d6f0;
}

.modal-header
{
display: block!important;
}

.modal-title{
    float: left;
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 20px;
}

.close{
    float: right;
}

.gallery-header{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 8px;
}

.spacer{
    height:60px;
}

.caption{
    font-size: 14px;
}


/* for in-line images */
.icon{
    transition: 0.3s;
    display: block;
    border-radius: 8px;
    width:100%;
}

.icon:hover{
    opacity: 0.7;
    cursor: pointer;
}

#bag{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* for blockquotes */
.up-down-padding{
    padding: 20px 0;
}

/* 2020 new gallery */
.title-wrapper{
    padding-top: 60px;
    color: #d6e0f0;
}

.design-description{
    color: #d6e0f0;
}

.design-block{
    padding: 60px 45px;
    background-color: #272930;
    border-radius: 16px;
    margin: 30px 20em;
}

.gallery{
    margin:30px;
}


/* desktop only */
@media screen and (min-width: 768px){
    #portrait-mobile, #intro-mobile{
        display: none;
    }
}

/* mobile only */
@media screen and (max-width: 768px){
    #portrait-desktop{
        display: none;
    }

    #portrait-mobile{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .title-wrapper{
        padding-top: 30px;
    }

    .design-block{
        padding: 20px 5px;
    }

    .icon{
        margin: 10px 0;
    }

    #bootstrap-overrides h1{
        font-size: 1.9rem;
        margin: 0;
    }

    #bootstrap-overrides h3{
        font-size: 1.4rem;
    }
}

/* larger screen sizes */
@media screen and (min-width: 1200px){
    #header-name{
        padding-top: 40px;
    }
}


/* for cool scrolling */
  body {
    background-color: #f4f4f4;
    transition: background-color 1s ease;
  }

  
  /* colours */
  .color-black {
      background-color: #393b44;
  }
  .color-white {
      background-color: white;
  }
  .color-red {
    background-color: #DE311E;
  }