/* navbar */
.navbar{
    background-color: #f4fafa;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
}

#navbar-logo{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.nav-item{
    font-family: 'Lato', sans-serif;
}

#linkedin{
    height: 28px;
    padding-right: 2px;
}

/* fonts in general */
.subheader{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 2;
}

h5{
    font-family: 'Playfair Display', serif;
    font-weight: bold!important;
    font-size: 20pt!important;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

.large-lato{
    font-size: 24px;
}

.spacer{
    height:60px;
}

.caption{
    font-size: 14px;
}

/* about section */

#about-text{
    font-size: 22px;
    color: white;
}

#about{
    background-color: #32315f;
    color: white;
    width: 100%;
    padding: 50px 0;
}

/* design portfolio */
#fam-logo{
    width: 100%;
    margin-top: -50px;
}

.fancy-name{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
}

/* for in-line images */
.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
}

#github{
    margin-top: -20px;
}

#github:hover {
    opacity: 0.7;
}

.smalltext{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding-top: 10px;
}

/* for blockquotes */
.up-down-padding{
    padding: 20px 0;
}

/* desktop only */
@media screen and (min-width: 768px){

}

/* mobile only */
@media screen and (max-width: 768px){

}

/* adjustments in between */
@media screen and (min-width: 1200px){
    #header-name{
        padding-top: 40px;
    }
}